::-webkit-scrollbar,
::-moz-scrollbar,
::-o-scrollbar{
    width: 0.5em;
}

::-webkit-scrollbar-track,
::-moz-scrollbar-track,
::-o-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb,
::-moz-scrollbar-thumb,
::-o-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.8);
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-thumb:window-inactive,
::-moz-scrollbar-corner,
::-moz-scrollbar-thumb:window-inactive ,
::-o-scrollbar-corner,
::-o-scrollbar-thumb:window-inactive {
    background: rgba(100, 100, 100, 0.4);
}
