<section id="promo" class="hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img class="img-responsive hidden-xs" src="{{ site.baseurl }}/assets/images/promo-1.png"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-1 col-sm-4 col-xs-12">
        <div class="promo-text">
          <h2><a href="{{ site.baseurl }}/features/jsp-code-display.html">JSP Code Display</a></h2>
          	<p>Tracking down pesky JSP errors hidden in compiled servlets.</p>
        </div>
      </div>

      <div class="col-sm-offset-1 col-sm-5 col-xs-12">
        <div class="promo-text">
          <h2><a href="{{ site.baseurl }}/features/aem-fiddle.html">AEM Fiddle</a></h2>
          <p>Web-based AEM IDE perfect for POC’s, experimenting and running ad hoc scripts.</p>
        </div>
      </div>
    </div>
  </div>
</section>