/* Mixins */
.code {
  background-color: #f7f7f7;
  border-radius: 0;
}
.code-block {
  background-color: #f7f7f7;
  border-radius: 0;
  font-family: Courier, serif;
}
/* Styles */
body {
  background: #fff;
  font-family: 'SourceSans';
  font-weight: 200;
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #4d4d4d;
  font-size: 175%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'SourceSans';
  font-weight: 200;
  color: #258907;
}
a {
  color: #33b90a;
}
a:hover {
  color: #40ea0c;
}
code {
  color: #258907;
}
header.top {
  background-color: #343838;
}
/* Header Navigation */
header .nav a {
  color: #fff;
}
header .nav a:hover {
  background-color: #000 !important;
}
/* Jumbotron */
#jumbotron {
  background-color: #33b90a;
  background-image: url('../images/green-bg.png');
  background-repeat: repeat-x;
  border-bottom: solid 1px #258907;
  border-top: solid 1px #000;
  color: #fff;
  min-height: 20rem;
  padding-top: 2rem;
  text-align: center;
}
#jumbotron h1 {
  font-size: 3em;
  font-weight: 200;
  color: #258907;
  text-shadow: #87f765 0px 1px 0px;
}
#jumbotron .lead {
  font-size: 1.5em;
  font-weight: 200;
  color: #fff;
  line-height: 1em;
  text-shadow: #33b90a 0px 2px 0px;
}
#jumbotron .lead em {
  font-weight: 200;
  text-decoration: none;
}
/* Homepage */
.striation {
  padding: 2rem;
}
.striation-light {
  padding: 2rem;
  background-color: #fff;
  border-bottom: solid 1px #ccc;
}
.striation-dark {
  padding: 2rem;
  background-color: #f7f7f7;
  border-bottom: solid 1px #ccc;
}
/* Feature Grid */
.features {
  padding-top: 2em;
}
.features .feature {
  text-align: center;
  position: relative;
}
.features .feature img {
  border: solid 1px #ccc;
}
.features .feature h3 {
  margin: 1em 0 .5em 0;
}
.features .feature p {
  color: #999;
  font-weight: 200;
  margin-bottom: 4rem;
}
.features .feature .banner {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  width: 119px;
  height: 119px;
  position: absolute;
  top: 0;
  left: 0;
}
.features .feature .new {
  background-image: url('../images/new-banner.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  width: 119px;
  height: 119px;
  position: absolute;
  top: 0;
  left: 0;
}
.features .feature .updated {
  background-image: url('../images/updated-banner.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  width: 119px;
  height: 119px;
  position: absolute;
  top: 0;
  left: 0;
}
/* Feature Doc */
.feature-doc {
  margin-top: 2em;
}
.feature-doc h1 {
  margin-top: 2em;
}
.feature-doc h1 .new {
  background-color: #33b90a;
  color: #FFF;
  padding: .25em .5em;
  border-radius: 5px;
  margin-left: 10px;
  font-size: .7em;
  position: relative;
  top: -0.1em;
}
.feature-doc h1,
.feature-doc h2,
.feature-doc h3,
.feature-doc h4,
.feature-doc h5 {
  margin-top: 1.25em;
}
.feature-doc h2 {
  border-bottom: dotted 1px #ccc;
  padding-bottom: .25em;
}
.feature-doc .img-wrapper {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}
.feature-doc img {
  max-width: 100%;
}
.feature-doc pre code {
  font-size: 1em;
}
.feature-doc ul,
.feature-doc ol,
.feature-doc dd {
  margin-bottom: 1em;
}
.feature-doc dd {
  margin-left: 2em;
}
.feature-doc code {
  whitespace: normal;
}
/* Inline Code */
code {
  background-color: #f7f7f7;
  border-radius: 0;
  font-family: SourceSans, sans-serif;
  font-weight: 200;
  padding: .25rem .75rem;
}
/* Code Blocks */
pre {
  border-radius: 0;
  border-color: #eee;
  padding: 1.5rem 2rem;
}
pre code {
  background-color: #f7f7f7;
  border-radius: 0;
  font-family: Courier, serif;
  background-color: transparent;
  border: 0;
}
/* Footer */
footer {
  background-color: #f7f7f7;
  margin-top: 4em;
  padding: 2em 0;
  border-top: solid 1px #ccc;
}
.news .title {
  font-weight: bold;
}
.news .description {
  display: block;
}
.news li {
  margin-bottom: 10px;
}
.news li:last-child {
  border-bottom-width: inherit;
  border-bottom-style: inherit;
}
/* Media Selectors */
@media (min-width: 460px) {
  #jumbotron {
    min-height: 25rem;
    padding-top: 5rem;
  }
  #jumbotron h1 {
    font-size: 4em;
  }
  #jumbotron .lead {
    font-size: 2em;
  }
}
@media (min-width: 992px) {
  #jumbotron {
    min-height: 32rem;
    padding-top: 7rem;
  }
  #jumbotron h1 {
    font-size: 5em;
  }
  #jumbotron .lead {
    font-size: 2.5em;
  }
}
@media (min-width: 1200px) {
  
}
#promo {
  border-bottom: solid 1px #ccc;
  margin-top: 2rem;
}
#promo .promo-text {
  margin-bottom: 2rem;
  text-align: center;
}
#promo .promo-text h2 {
  color: #343838;
  margin-top: 0;
}
#promo .promo-text p {
  margin-left: 2rem;
  margin-right: 2rem;
}
/* Media Selectors */
@media (min-width: 460px) {
  #jumbotron {
    min-height: 30rem;
  }
  #promo {
    margin-top: -10rem;
  }
}
@media (min-width: 992px) {
  #jumbotron {
    min-height: 45rem;
  }
  #promo {
    margin-top: -21rem;
  }
}
@media (min-width: 1200px) {
  
}
